.articleTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.submitDiv {
  margin-top: 1rem;
}
.content {
  margin-right: 1rem;
}
.sider {
  padding: 0.5rem;
  background-color: rgba($color: #ffffff, $alpha: 1.0);
}