.articleTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.submitDiv {
  margin-top: 0.5rem;
}
.content {
  margin-right: 0rem;
}
.sider {
  margin-left: 0.5rem;
  background-color: rgba($color: #ffffff, $alpha: 1.0);
  @media (max-width: 992px) {
    position: fixed;
    right: 10%;
    top: 8%;
  }
}