@use './base.scss' as *;

.trans {
  transition: all 0.3s !important;
}

.hover {
  @extend .trans;
}
.hover:hover {
  background-color: $hoverColor !important;
}

.btnBase {
  width: $btnWidth;
  bottom: 0;
  border-radius: 999px;
  color: var(--admin-primary-strong);
  cursor: pointer;
  background-color: var(--admin-primary-soft);
  border: 1px solid var(--admin-primary);
  @extend .hover;
}

.tagBase {
  display: inline-block;
  padding: 0 8px;
  margin: 2px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  user-select: none;
  color: $textColor;
  border-radius: 999px;
  cursor: pointer;
  background: $themeColor1;
  @extend .hover;
}
